<!-- <app-templates-container></app-templates-container>
<app-injection-tokens></app-injection-tokens> 
<app-change-detection></app-change-detection> -->
<!-- <app-routing></app-routing> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-for-second></app-for-second>
<app-for-second2></app-for-second2>
<app-for-third></app-for-third> -->

<!-- <button (click)="loadLazy()">Lazy load</button>
<app-no-standalone></app-no-standalone> -->
<!-- <app-subjects></app-subjects> -->
<!-- <app-dire-pipes></app-dire-pipes> -->
<!-- <app-for-of></app-for-of> -->
<app-style-encap></app-style-encap>